<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Convertidor de Imagen a PDF</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body class="bg-light">
    <div class="container mt-5">
      <!-- Mostrar mensajes flash -->
      {% with messages=get_flashed_messages(with_categories=True) %}
        {% if messages %}
          {% for category, message in messages %}
            <!-- Usamos las clases de Bootstrap para las alertas -->
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      <h1 class="text-center fw-bold">Convertir Imagen a PDF con Python 🚀<hr /></h1>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <form method="POST" enctype="multipart/form-data" class="mt-4">
            <div class="mb-3">
              <label for="file" class="form-label">Selecciona una imagen</label>
              <input type="file" class="form-control" id="file" name="file" accept="image/*" required />
            </div>
            <button type="submit" class="btn btn-primary w-100">Convertir a PDF</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
